<!doctype html>

<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Мореход</title>

  <script src="lib/jquery-3.2.1.min.js" type="text/javascript"></script>
  <script src="lib/jquery-ui-1.12.1.min.js" type="text/javascript"></script>
  <script src="lib/jquery.ui.touch-punch.min.js" type="text/javascript"></script>
  <script src="lib/bootstrap.min.js" type="text/javascript"></script>
  <script src="lib/vue.min.js" type="text/javascript"></script>
  <script src="lib/sortable.min.js" type="text/javascript"></script>
  <script src="lib/vuedraggable.umd.min.js" type="text/javascript"></script>
  <script src="lib/lodash.js" type="text/javascript"></script>

  <link rel="stylesheet" href="css/style.css" type="text/css">
  <link rel="stylesheet" href="css/all.min.css" type="text/css">

  <link rel="icon" href="img/logo2.png" type="image/x-icon">
  <link rel="shortcut icon" href="img/logo2.png" type="image/x-icon">
</head>

<body>
  <audio id="audioFail" preload="auto">
    <source src="audio/fail.mp3" type="audio/mpeg">
  </audio>
  <audio id="audioSuccess" preload="auto">
    <source src="audio/success.mp3" type="audio/mpeg">
  </audio>
  <audio id="audioMorse" preload="auto">
    <source src="audio/morse.m4a" type="audio/mpeg">
  </audio>
  <audio id="audioSos" preload="auto">
    <source src="audio/sos.mp3" type="audio/mpeg">
  </audio>
  <audio id="audioBgm" preload="auto" loop>
    <source src="audio/bgm.mp3" type="audio/mpeg">
  </audio>
  <div id="app" class="content-container fill bg">
    <div class="start-page fill" :class="classes.startPage">
      <div class="start-page__top-part">
        <div class="title__main">{{ mainTitle.text }}</div>
        <div class="title__sub">{{ subTitle.text }}</div>
      </div>
      <div class="start-page__bottom-part">
        <a v-if="isStartButtonVisible" class="my-button start-button" @click="startHandle"><span>Начать</span></a>
        <button class="sound-control" @click="soundControlHandle">
          <i v-if="isMuted" class="fa fa-volume-mute fa-4x"></i>
          <i v-else class="fa fa-volume-up fa-4x"></i>
        </button>
      </div>
    </div>
    <div class="splash-screen fill" :class="classes.splashScreen">
      <div class="splash-text">
        <span>Приложение запрашивает разрешение на воспроизведение звука и видео</span>
      </div>
      <div class="splash-controls">
        <a class="answer-button drag incorrect" @click="deniedHandle">Отклонить</a>
        <a class="answer-button drag correct" @click="playHandle">Разрешить</a>
      </div>
    </div>
    <div class="header"><h1 aria-label="МореХод"  v-if="isShowHeader"></h1></div>
    <div class="main">
      <div class="main__left-side">
        <div class="info-card">
          <div class="info-card__header">Верных ответов</div>
          <div class="info-card__body">{{ correctAnswers }}</div>
        </div>
        <div class="info-card">
          <div class="info-card__header">Неверных ответов</div>
          <div class="info-card__body">{{ incorrectAnswers }}</div>
        </div>
      </div>
      <div class="questions-container" v-html="questions[currentQuestion].text"></div>
      <div class="main__right-side">
        <div class="info-card">
          <div class="info-card__header">Счёт</div>
          <div class="info-card__body">{{ totalScore }}</div>
        </div>
      </div>
      <div v-if="isSosButtonVisible" class="sos-button-container">
        <a class="answer-button sos-button incorrect" @click="sosButtonClickHandle">SOS</a>
      </div>
    </div>
    <div class="footer">
      <div class="prev-button-container">
        <a class="my-nav-button" @click="prevHandle" v-if="false"><i class="fa fa-chevron-left fa-5x"></i></a>
      </div>
      <div class="answers-container">
        <div class="answers-grid" v-if="questions[currentQuestion].type === 'oneOutFour'">
          <a class="answer-button" v-for="answer in questions[currentQuestion].answers"
             @click="answerClickHandle(answer.correct, answer.id)"
             :class="answer.classes">{{ answer.id }}) {{ answer.text }}</a>
        </div>
        <div class="drag-answer-container" v-if="questions[currentQuestion].type === 'dragDrop'">
          <div class="draggable-row" v-for="row in questions[currentQuestion].answers" :key="row.index">
            <div class="drag-label-grid" v-if="row.labels" slot="header">
              <div v-for="label in row.labels" class="drag-label">{{label}}</div>
            </div>
            <draggable
                    :list="row.items"
                    :group="{ name: 'row' }"
                    class="draggable-inside"
                    v-if="!isShowDraggableAnswer">
              <div :class="item.classes" v-for="item in row.items" :key="item.id">{{ item.text }}</div>
            </draggable>
            <div v-else class="draggable-inside">
              <div :class="item.classes" v-for="item in questions[currentQuestion].correct" :key="item.id">{{ item.text }}</div>
            </div>
          </div>
          <div class="drag-answer-controls">
            <a class="answer-button drag" @click="dragAnswerHandle">Проверить</a>
            <a class="answer-button drag"  :class="classes.showDraggableAnswer" @click="showDraggableAnswer = true">Верный ответ</a>
          </div>
        </div>
      </div>
      <div class="next-button-container">
        <a class="my-nav-button" @click="nextHandle" v-if="isNextVisible"><i class="fa fa-chevron-right fa-5x"></i></a>
      </div>
    </div>
    <div class="viewer-container" :class="classes.viewer">
      <div class="viewer-content">
        <div class="viewer-header">Справка</div>
        <div v-html="viewerContent"></div>
      </div>
      <a class="answer-button drag sos-control" @click="classes.viewer.slide = false">Ok</a>
    </div>
  </div>
  <div class="my-copyright"><b>© Краснодарское ПКУ</b></div>
  <script src="js/main.js"></script>
</body>
</html>
